<div class="background d-none d-md-block"></div>
    <div class="container height-100" style = "max-width: 1600px;">
    <div class="row height-100">
    <div class="col col-md-6 col-lg-5 col-12 height-100 d-flex align-items-md-center blurbg">
        <div class="content text-center text-md-left ">
                <h1> Harry Conway</h1>
                <span class="text">Voice acting samples below:</span>
		<br></br>
		<span class="text">Drama/Character samples</span>
		<br></br>
		<audio controls>
			<source src="audio/Harry_Drama.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<br></br>
		<span class="text">Audiobook sample</span>
		<br></br>
		<audio controls>
			<source src="audio/Harry_Audiobook.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<br></br>
		<span class="text">Commercial Samples</span>
		<br></br>
		<audio controls>
			<source src="audio/Harry_Commercials.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<br></br>
		<span class="text">Documentary Sample</span>
		<br></br>
		<audio controls>
			<source src="audio/Harry_Documentary.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
		<br></br>
                <span class="text small-heading"></span>
                <div class="icons d-flex justify-content-center justify-content-md-end">
                </div>
                <span class="text small-heading">Email</span>
                <a class="btn btn-outline-dark">harryvoices[insert the email symbol here]gmail.com</a>
    </div>
</div>
	<img class="headshot" src="Images/headshot.jpg" style = "padding-left: 20%;">
</div>
